<header>
    <div class="container-fluid custom-container">
        <div class="row no_row row-header">
            <div class="brand-be">

            </div>
        </div>
    </div>
    <ul class="nav nav-tabs">
        <li><a ng-click="showMainContent()" style="width: 30%;">Home</a></li> <!--href="#/"-->
        <li><a ng-click="showProfile()" style="width: 30%">Profile</a></li> <!--href=#/profile"-->
        <li><a ng-click="showMap()" style="width: 30%">Explore</a></li> <!--href="#/map"-->
        <a ng-click="showMainContent()">
            <img class="logo-c active be_logo" src="img/colombo360_logo.png" alt="logo"
                 style="width: 50px; height: 35px;float: right;margin-right: 0%">
        </a>
    </ul>
</header>
<br><br>

<div class="row">
    <div class="col-xs-12 col-md-4 left-feild">
        <div class="be-user-block style-3">
            <div class="be-user-detail">
                <a class="be-ava-user style-2" href="page1.html">
                    <img src="img/ava_10.jpg" alt="">
                </a>
                <a class="be-ava-left btn color-1 size-2 hover-1" href="author-edit.html"><i
                        class="fa fa-pencil"></i>Edit</a>
                <div class="be-ava-right btn btn-share color-4 size-2 hover-7">
                    <i class="fa fa-share-alt"></i>share
                    <div class="share-buttons">
                        <a class="color-1" href="page1.html"><i class="fa fa-facebook"></i> 278</a>
                        <a class="color-2" href="page1.html"><i class="fa fa-twitter"></i> 180</a>
                        <a class="color-3" href="page1.html"><i class="fa fa-pinterest-p"></i> 78</a>
                        <a class="color-4" href="page1.html"><i class="fa fa-linkedin"></i> 53</a>
                    </div>
                </div>
                <p class="be-use-name">Leigh Taylor</p>
                <div class="be-user-info">
                    Barnsley, United Kingdom
                </div>
                <div class="be-text-tags style-2">
                    <a href="page1.html">UI/UX</a>,
                    <a href="page1.html">Web Design</a>,
                    <a href="page1.html">Art Direction</a>
                </div>
                <div class="be-user-social">
                    <a class="social-btn color-1" href="page1.html"><i class="fa fa-facebook"></i></a>
                    <a class="social-btn color-2" href="page1.html"><i class="fa fa-twitter"></i></a>
                    <a class="social-btn color-3" href="page1.html"><i class="fa fa-google-plus"></i></a>
                    <a class="social-btn color-4" href="page1.html"><i class="fa fa-pinterest-p"></i></a>
                    <a class="social-btn color-5" href="page1.html"><i class="fa fa-instagram"></i></a>
                    <a class="social-btn color-6" href="page1.html"><i class="fa fa-linkedin"></i></a>
                </div>
                <a class="be-user-site" href="http://www.phoenix.cool"><i class="fa fa-link"></i>
                    www.phoenix.cool</a>
            </div>
            <div class="be-user-statistic">
                <div class="stat-row clearfix"><i class="stat-icon icon-views-b"></i> Projects views<span
                        class="stat-counter">218098</span></div>
                <div class="stat-row clearfix"><i class="stat-icon icon-like-b"></i>Appreciations<span
                        class="stat-counter">14335</span></div>
                <div class="stat-row clearfix"><i class="stat-icon icon-followers-b"></i>Followers<span
                        class="stat-counter">2208</span></div>
                <div class="stat-row clearfix"><i class="stat-icon icon-following-b"></i>Following<span
                        class="stat-counter">0</span></div>
            </div>
        </div>
        <div class="be-desc-block">
            <div class="be-desc-author">
                <div class="be-desc-label">About Me</div>
                <div class="clearfix"></div>
                <div class="be-desc-text">
                    Nam sit amet massa commodo, tristique metus at, consequat turpis. In vulputate justo at
                    auctor mollis. Aliquam non sagittis tortor. Duis tristique suscipit risus, quis facilisis
                    nisl congue vitae. Nunc varius pellentesque scelerisque. Etiam quis massa vitae lectus
                    placerat ullamcorper pellentesque vel nisl.
                </div>
            </div>
            <div class="be-desc-author">
                <div class="be-desc-label">My Values</div>
                <div class="clearfix"></div>
                <div class="be-desc-text">
                    Sed dignissim scelerisque pretium. Vestibulum vel lacus laoreet nunc fermentum maximus.
                    Proin id sodales sem, at consectetur urna. Proin vestibulum, erat a hendrerit sodales, nulla
                    libero ornare dolor.
                </div>
            </div>
        </div>
        <a class="btn full color-1 size-1 hover-1"><i class="fa fa-plus" ng-click="showUploadPage()"></i>Upload</a>
    </div>

    <div class="col-xs-12 col-md-8">
        <div class="tab-wrapper style-1">
            <div class="tab-nav-wrapper">
                <div class="nav-tab  clearfix">
                    <div class="nav-tab-item active">
                        <span>Gallery</span>
                    </div>
                    <div class="nav-tab-item ">
                        <span>Most Viewed Photosphere</span>
                    </div>
                    <div class="nav-tab-item ">
                        <span>Most Liked Photosphere</span>
                    </div>
                </div>
            </div>

            <!--Shows the most liked photosphere-->
            <div class="row" ng-if="newsFeedLoaded">
                <div class="col-ml-12 col-xs-6 col-sm-4" ng-repeat="item in newsfeedItems"
                     ng-if="item['user_id']==='1'">
                    <div class="be-post">
                        <a href="" class="be-img-block" ng-click="openPhotosphere(item)">
                            <img src="./img/display_img/{{item.photo_id}}" alt="omg">
                        </a>
                        <a href="" class="be-post-title">{{item.name}}</a>
                        <span>
                                            <a href="" class="be-post-tag">Interaction Design</a>,
                                            <a href="" class="be-post-tag">UI/UX</a>,
                                            <a href="" class="be-post-tag">Web Design</a>
                                        </span>
                        <div class="author-post">
                            <img src="img/a1.png" alt="" class="ava-author">
                            <span>by <a href="page1.html">{{item.user_name}}</a></span>
                        </div>
                        <div class="info-block">
                            <span><i class="fa fa-thumbs-o-up"></i>{{item.likes}}</span>
                            <span><i class="fa fa-eye"></i>{{item.views}}</span>
                            <span><i class="fa fa-comment-o"></i>20</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-info">
                <div class="row">
                    <div class="col-ml-12 col-xs-6 col-sm-4">
                        <div class="be-post">
                            <a href="page1.html" class="be-img-block">
                                <img src="img/p8.jpg" alt="omg">
                            </a>
                            <a href="page1.html" class="be-post-title">Racing Queensland</a>
                            <span>
												<a href="page1.html" class="be-post-tag">Interaction Design</a>,
												<a href="page1.html" class="be-post-tag">UI/UX</a>,
												<a href="page1.html" class="be-post-tag">Web Design</a>
											</span>
                            <div class="author-post">
                                <img src="img/a7.png" alt="" class="ava-author">
                                <span>by <a href="page1.html">Hoang Nguyen</a></span>
                            </div>
                            <div class="info-block">
                                <span><i class="fa fa-thumbs-o-up"></i> 360</span>
                                <span><i class="fa fa-eye"></i> 789</span>
                                <span><i class="fa fa-comment-o"></i> 20</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Shows the most viewed photosphere-->
            <div class="tab-info">
                <div class="row">
                    <div class="col-ml-12 col-xs-6 col-sm-4">
                        <div class="be-post style-4">
                            <a href="page1.html" class="be-img-block">
                                <img src="img/p16.jpg" alt="omg">
                            </a>
                            <a href="page1.html" class="be-post-title">Wisdom For My Children, Life Lessons
                                Through</a>

                            <div class="author-post clearfix">
                                <img src="img/a1.png" alt="" class="ava-author">
                                <span>by <a href="page1.html">Hoang Nguyen</a></span>
                                <span class="like-counter"><i class="fa fa-thumbs-o-up"></i> 405</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>